html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

body {
	font-family: Open Sans;
}

.page {
	margin: 0px 20%;
	background-color: #efefef;
}

/* HEADER */
.brand-header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #43281c;
	color: #fbf2c0;
	height: 70px;
}

.brand {
	font-size: 18px;
	font-family: Open Sans;
	font-weight: bold;
}

.logo {
	margin-right: 0.5px;
	max-height: 25px;
	vertical-align: middle;
}

/* MAIN CONTENT */
/* main grid */
.main {
	margin-top: 35px;
	display: grid;
	grid-template-areas:
		"items payment"
		"checkout checkout";
}

.items {
	grid-area: items;
}

.payment {
	grid-area: payment;
}

.checkout {
	grid-area: checkout;
	margin-top: 70px;
}

/* common styling */
.box {
	margin: 20px;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%);
	background-color: #ede0d4;
}

.box-header {
	font-weight: normal;
	font-size: 100%;
	color: #885a2d;
}

/* order items section */
.order-item {
	padding-top: 20px;
	border-bottom: 2px solid #e4cdb4;
	display: flex;
	justify-content: space-between;
}

.order-item:last-child {
	border-bottom: 0;
}

.item-quantity {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	font-size: 90%;
	color: gray;
}

.item-info {
	display: inline-block;
}

.item-name {
	font-weight: bold;
}

.item-opts {
	padding: 0;
	margin: 10px 0px;
	list-style: none;
	font-size: 85%;
	color: #8a5f37;
}

.item-opts li {
	padding: 3px 0px;
}

.item-cost {
	font-weight: bold;
}

/* paymenty section */
.payment-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}


.card-name {
	grid-area: card-name;
	background-color: #ede0d4;
}

.card-info {
	grid-area: card-info;
	background-color: #ede0d4;
}

.input-group {
	position: relative;
}

.input-label {
	color: #885a2d;
	font-size: 73%;
	background-color: #ede0d4;
	position: absolute;
	top: -7px;
	left: 35px;
}

.input {
	display: block;
	background-color: inherit;
	border: 2px solid #885a2d;
	padding-top: 2px;
	padding-left: 13px;
	margin: 20px auto;
	width: 95%;
	height: 35px;
	border-radius: 20px;
	font-size: 90%;
}

/* checkout section */
.checkout-table {
	width: 30%;
	margin: 0 auto;
}

.checkout-table {
	border-spacing: 15px;
}

.checkout-table td:first-child {
	text-align: left;
}

.checkout-table td:last-child {
	text-align: right;
}

.checkout-table tr:last-child {
	font-weight: bold;
}

.btn-checkout {
	display: block;
	height: 37px;
	border-radius: 30px;
	width: 85%;
	margin: 20px auto;
	border: none;
	font-size: 16px;

	background: linear-gradient(to right, #d47717 50%, #deb993 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .5s ease-out;
}

.btn-checkout:hover {
	color: white;
	background-position: left bottom;
}
