html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	margin-top: 40px;
}

.page {
	width: 30%;
	margin: 0 auto;
}

.page-header {
	padding: 30px 0px;
	margin: 0 auto;
	width: 40%;
	font-size: 40px;
	text-align: center;
	border-bottom: 3px solid black;
}

.game-grid {
	margin-top: 70px;
}

.game-row {
	display: flex;
	justify-content: space-evenly;
	margin: 25px 0;
}

.game-cell {
	border: 3px solid grey;
	aspect-ratio: 1/1;
	width: 13%;
	padding-top: 2px;
	font-size: 56px;
	text-align: center;
}


/* stolen from Claude */
@keyframes shake {

	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-5px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(5px);
	}
}

.error-shake {
	animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
